<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDragonCave" />
                <binding name="BasicHttpBinding_IHobbits" />
                <binding name="BasicHttpBinding_IPalantirWCF" />
                <binding name="BasicHttpBinding_ICave" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DragonCave/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDragonCave"
                contract="DragonCaveService1.IDragonCave" name="BasicHttpBinding_IDragonCave" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/HobbitsWCF/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHobbits"
                contract="HobbitsWCFService1.IHobbits" name="BasicHttpBinding_IHobbits" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/PalantirWCF/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPalantirWCF"
                contract="PalantirWCFService1.IPalantirWCF" name="BasicHttpBinding_IPalantirWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Cave/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICave"
                contract="CaveService1.ICave" name="BasicHttpBinding_ICave" />
        </client>
    </system.serviceModel>
</configuration>